<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
  <img [alt]="product.title" [src]="product.image" class="w-1/6 mb-2">
  <h2 class="mb-2 text-md text-center">{{product.title}}</h2>
  <p>Price: <span class="font-bold">{{product.price | currency:'USD'}}</span></p>

  <button (click)="details = !details" [ngClass]="{
  'bg-yellow-500': !details,
  'bg-blue-500': details,
  }" class="border py-2 px-4 rounded">{{details ? 'Hide' : 'Show'}} Details
  </button>

  <div *ngIf="details">
    <p>{{product.description}}</p>
    <p>Rate: <span [ngStyle]="{fontWeight: 'bold'}">{{product.rating.rate | number:'2.2-4'}}</span></p>
  </div>
</div>
